* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #6589f9;
}

.game {
    width: 100%;
    max-width: 960px;
    margin: 2rem auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.card {
    width: 150px;
    height: 150px;
    position: relative;
    transform-style: preserve-3d;
    transition: all 400ms ease-in-out;
    cursor: pointer;
}

.card .front {
    width: 150px;
    height: 150px;
    position: absolute;
    background-image: url('../img/LogoGemaStarlight.png');
    background-size: contain;
    backface-visibility: hidden;
}

.card .back {
    width: 150px;
    height: 150px;
    position: absolute;
    transform: rotateY(180deg);
    background-size: contain;
    backface-visibility: hidden;
}

.card.selected {
    transform: rotateY(180deg);
}